<div class="container mt-5">
  <h2 class="mb-5">
    Office presence ({{ numberOfClients }})
  </h2>

  @if (loaded) {
    <ul class="list-group">
      @for (device of devices; track $index) {
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="me-auto">
            <div class="fw-bold">{{ device.mac | deviceName }}</div>
          </div>
  
          <span
            class="badge rounded-pill"
            [ngClass]="device.state ? 'text-bg-success' : 'text-bg-danger'"
          >
            <span>{{ device.state ? 'in' : 'out' }}</span>
            @if (device.date) {
              <span class="ms-2">{{ device.date | date: 'HH:mm' }}</span>
            }
          </span>
        </li>
      }
    </ul>
  } @else {
    <div class="spinner-grow spinner-grow-sm" role="status"></div>
  }
  
  <div>
    <h2 class="mt-5 mb-5">
      <span>Graph</span>
      <!-- <span>
        <button class="btn btn-secondary ms-5" (click)="plusFactor()"><span class="bi bi-plus-circle-fill"></span></button>
        <button class="btn btn-secondary ms-2" (click)="minusFactor()"><span class="bi bi-dash-circle-fill"></span></button>
      </span> -->
    </h2>
    <app-test-graph></app-test-graph>
  </div>

</div>
