<div class="container mt-5">
  <h2 class="mb-5">Office Presence</h2>

  <ol class="list-group">
    @for (person of getPeople(); track $index) {
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{ person }}</div>
        </div>
        <span class="badge rounded-pill" [ngClass]="liveData[person] === 'in' ? 'text-bg-success' : 'text-bg-danger'">
          {{ liveData[person] }}
        </span>
      </li>
    }
  </ol>


</div>