<div class="container mt-5">
  <h2 class="mb-4">
    OFFICE LIVE <span class="small">({{ getLiveQuantity() }})</span>
  </h2>

  @if (loaded) {
  <ul class="list-group">
    @for (device of devices; track $index) {
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="me-auto">
        <span class="fw-bold">
          <span class="me-3">{{ device.mac | deviceName }}</span>
          <span class="small">
            <span>{{ this.getSummaryTodayByMac(device.mac) | secondsToHoursMinutes }}</span>
            <span class="small"> TODAY</span>
            <span class="me-2 ms-2">|</span>
            <span>{{ this.getSummaryMonthByMac(device.mac) | secondsToHoursMinutes }}</span>
            <span class="small"> MONTH</span>
          </span>
        </span>
      </div>

      <span class="badge rounded-pill" [ngClass]="device.state ? 'text-bg-success' : 'text-bg-danger'">
        @if (device.date) {
        <span>{{ device.date | date: 'HH:mm' }}</span>
        }
      </span>
    </li>
    }
  </ul>
  } @else {
  <div class="spinner-grow spinner-grow-sm" role="status"></div>
  }

  <div>
    <h2 class="mt-5 mb-4">
      <span>TODAY</span>
      <!-- <span>
        <button class="btn btn-secondary ms-5" (click)="plusFactor()"><span class="bi bi-plus-circle-fill"></span></button>
        <button class="btn btn-secondary ms-2" (click)="minusFactor()"><span class="bi bi-dash-circle-fill"></span></button>
      </span> -->
    </h2>
    <app-test-graph></app-test-graph>
  </div>

</div>